<footer class="page-footer">
    <div class="container">
      <div id="bg" class="row">
        <div id="bg" class="col l6 s12">
          <img _ngcontent-hev-c16="" id="img" src="assets/logo.png" alt="">
        </div>
        <div id="bg" class="col l4 offset-l2 s12">
          <h5 id="bg" class="white-text">Información de contacto
          </h5>
          <ul id="bg">
            <li id="bg">Telf: 647 33 35 23</li>
            <li id="bg"><p id="bg">Mail: info@nextlevel.com</p></li>
            <li><p id="bg">Participantes:</p></li>
            <li><p id="bg">Javier Esmerado Vela</p></li>
            <li><p id="bg">Javier Ramoz López</p></li>
            <li><p id="bg">Andrés Sánchez Vera</p></li>       
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div id="bg" class="container">
        © 2021 Copyright Next Level | The Next Generation of Buisness
      </div>
    </div>
  </footer>