body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #img {
    height: 25%;
    width: 25%;
    background-color: #242323;
  }

  footer {
    background-color: #242323;
  }

  #bg {
    background-color: #242323;
  }