<div id="padre" class="row">

  <!--Camiseta-->
  <div class="col s3">
    <div id="fondogen" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="camiseta" class="activator" src="./assets/CamisetaNegraFrente.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <p id="whtext">Camiseta Next Level</p><i id="fondorev" class="material-icons right">more_vert</i>
        </span>

        <p id="fondorev"><a href="#">Comprala ya!</a></p>

        <p id="fondorev">Colores disponibles:&nbsp;&nbsp;
          <a (click)="camblack()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i id="black"
              class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="camblackback()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i
              id="black" class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="camwhite()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i id="white"
              class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="camwhiteback()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i
              id="white" class="material-icons">add</i></a>&nbsp;&nbsp;
        </p>
      </div>
      <div id="fondorev" class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <p id="whtext">Camiseta Next Level</p><i id="fondorev" class="material-icons right">close</i>
        </span>
        <p id="whtext">Con esta camiseta estarás al siguiente nivel!</p>
        <ul id="whtext">
          <p id="whtext">Tallas disponibles:</p>
          <li id="whtext">&nbsp;&nbsp;• XS</li>
          <li id="whtext">&nbsp;&nbsp;• S</li>
          <li id="whtext">&nbsp;&nbsp;• M</li>
          <li id="whtext">&nbsp;&nbsp;• XL</li>
          <li id="whtext">&nbsp;&nbsp;• XLL</li>
        </ul>
      </div>
    </div>
  </div>

  <!--Sudadera-->
  <div class="col s3">
    <div id="fondogen" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="sudadera" class="activator" src="./assets/HoodieNegra.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <p id="whtext">Sudadera Next Level</p><i id="fondorev" class="material-icons right">more_vert</i>
        </span>

        <p id="fondorev"><a href="#">Comprala ya!</a></p>

        <p id="fondorev">Colores disponibles:&nbsp;&nbsp;
          <a (click)="hoddieblack()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i
              id="black" class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="hoddiewhite()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i
              id="white" class="material-icons">add</i></a>&nbsp;&nbsp;
        </p>
      </div>
      <div id="fondorev" class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <p id="whtext">Sudadera Next Level</p><i id="fondorev" class="material-icons right">close</i>
        </span>
        <p id="whtext">Con esta sudadera llegarás al siguiente nivel calentito!</p>
        <ul id="whtext">
          <p id="whtext">Tallas disponibles:</p>
          <li id="whtext">&nbsp;&nbsp;• XS</li>
          <li id="whtext">&nbsp;&nbsp;• S</li>
          <li id="whtext">&nbsp;&nbsp;• M</li>
          <li id="whtext">&nbsp;&nbsp;• XL</li>
          <li id="whtext">&nbsp;&nbsp;• XLL</li>
        </ul>
      </div>
    </div>
  </div>

  <!--Zip-->
  <div class="col s3">
    <div id="fondogen" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="zip" class="activator" src="./assets/ZipNegraFrente.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <p id="whtext">Sudadera Zip Next Level</p><i id="fondorev" class="material-icons right">more_vert</i>
        </span>

        <p id="fondorev"><a href="#">Comprala ya!</a></p>

        <p id="fondorev">Colores disponibles:&nbsp;&nbsp;
          <a (click)="zipblack()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i id="black"
              class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="zipblackback()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i
              id="black" class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="zipwhite()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i id="white"
              class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="zipwhiteback()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i
              id="white" class="material-icons">add</i></a>
        </p>
      </div>
      <div id="fondorev" class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <p id="whtext">Sudadera Zip Next Level</p><i id="fondorev" class="material-icons right">close</i>
        </span>
        <p id="whtext">Con este Zip subiras la cremallera al siguiente nivel!</p>
        <ul id="whtext">
          <p id="whtext">Tallas disponibles:</p>
          <li id="whtext">&nbsp;&nbsp;• XS</li>
          <li id="whtext">&nbsp;&nbsp;• S</li>
          <li id="whtext">&nbsp;&nbsp;• M</li>
          <li id="whtext">&nbsp;&nbsp;• XL</li>
          <li id="whtext">&nbsp;&nbsp;• XLL</li>
        </ul>
      </div>
    </div>
  </div>

  <!--Polo-->
  <div class="col s3">
    <div id="fondogen" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="polo" class="activator" src="./assets/PoloNegro.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <p id="whtext">Polo Next Level</p><i id="fondorev" class="material-icons right">more_vert</i>
        </span>

        <p id="fondorev"><a href="#">Comprala ya!</a></p>

        <p id="fondorev">Colores disponibles:&nbsp;&nbsp;
          <a (click)="poloblack()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i id="black"
              class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="polowhite()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i id="white"
              class="material-icons">add</i></a>
        </p>
      </div>
      <div id="fondorev" class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <p id="whtext">Polo Next Level</p><i id="fondorev" class="material-icons right">close</i>
        </span>
        <p id="whtext">Con este polo llegarás al nivel máximo!</p>
        <ul id="whtext">
          <p id="whtext">Tallas disponibles:</p>
          <li id="whtext">&nbsp;&nbsp;• XS</li>
          <li id="whtext">&nbsp;&nbsp;• S</li>
          <li id="whtext">&nbsp;&nbsp;• M</li>
          <li id="whtext">&nbsp;&nbsp;• XL</li>
          <li id="whtext">&nbsp;&nbsp;• XLL</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Segunda fila-->

<div id="padre" class="row">

  <!--Mascarilla-->
  <div class="col s3">
    <div id="fondogen" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="mask" class="activator" src="./assets/MaskNegra.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <p id="whtext">Mascarilla Next Level</p><i id="fondorev" class="material-icons right">more_vert</i>
        </span>

        <p id="fondorev"><a href="#">Comprala ya!</a></p>

        <p id="fondorev">Colores disponibles:&nbsp;&nbsp;
          <a (click)="maskblack()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i id="black" class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="maskwhite()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i id="white" class="material-icons">add</i></a>&nbsp;&nbsp;
        </p>
      </div>
      <div id="fondorev" class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <p id="whtext">Mascarilla Next Level</p><i id="fondorev" class="material-icons right">close</i>
        </span>
        <p id="whtext">Con esta mascarilla estarás protegido al siguiente nivel!</p>
        <ul id="whtext">
          <p id="whtext">Tallas disponibles:</p>
          <li id="whtext">&nbsp;&nbsp;• Blanca Adulto</li>
          <li id="whtext">&nbsp;&nbsp;• Negra Adulto</li>
          <li id="whtext">&nbsp;&nbsp;• Blanca Niño</li>
          <li id="whtext">&nbsp;&nbsp;• Negra Niño</li>
        </ul>
      </div>
    </div>
  </div>

  <!--Funda iPhone-->
  <div class="col s3">
    <div id="fondogen" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="apple" class="activator" src="./assets/Fundaiphonenegra.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <p id="whtext">Funda iPhone Next Level</p><i id="fondorev" class="material-icons right">more_vert</i>
        </span>

        <p id="fondorev"><a href="#">Comprala ya!</a></p>

        <p id="fondorev">Colores disponibles:&nbsp;&nbsp;
          <a (click)="iphoneblack()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i
              id="black" class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="iphonewhite()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i
              id="white" class="material-icons">add</i></a>&nbsp;&nbsp;
        </p>
      </div>
      <div id="fondorev" class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <p id="whtext">Funda iPhone Next Level</p><i id="fondorev" class="material-icons right">close</i>
        </span>
        <p id="whtext">Con esta funda, tu iPhone llegará al siguiente nivel!</p>
        <ul id="whtext">
          <p id="whtext">Modelos disponibles:</p>
          <li id="whtext">&nbsp;&nbsp;• iPhone 7/8</li>
          <li id="whtext">&nbsp;&nbsp;• iPhone 7/8 Plus</li>
          <li id="whtext">&nbsp;&nbsp;• iPhone X/XS/XS Max</li>
          <li id="whtext">&nbsp;&nbsp;• iPhone 11/11Pro/11Pro Max</li>
          <li id="whtext">&nbsp;&nbsp;• iPhone 12/12Pro/12Mini/12Pro Max</li>          
          <li id="whtext">&nbsp;&nbsp;• iPhone 13/13Pro/13Mini/13Pro Max</li>
        </ul>
      </div>
    </div>
  </div>

  <!--Cuaderno-->
  <div class="col s3">
    <div id="fondogen" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="cuaderno" class="activator" src="./assets/CuadernoNegro.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <p id="whtext">Cuaderno Next Level</p><i id="fondorev" class="material-icons right">more_vert</i>
        </span>

        <p id="fondorev"><a href="#">Comprala ya!</a></p>

        <p id="fondorev">Colores disponibles:&nbsp;&nbsp;
          <a (click)="cuadernoblack()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i id="black"
              class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="cuadernowhite()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i
              id="white" class="material-icons">add</i></a>
        </p>
      </div>
      <div id="fondorev" class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <p id="whtext">Cuaderno Next Level</p><i id="fondorev" class="material-icons right">close</i>
        </span>
        <p id="whtext">Con este cuaderno cogeras apuntes al siguiente nivel!</p>
        <ul id="whtext">
          <p id="whtext">Tamaños disponibles:</p>
          <li id="whtext">&nbsp;&nbsp;• A4</li>
          <li id="whtext">&nbsp;&nbsp;• A5</li>
          <li id="whtext">&nbsp;&nbsp;• A6</li>
          <li id="whtext">&nbsp;&nbsp;• Consulta para mas tamaños o</li>
          <li id="whtext">&nbsp;&nbsp;&nbsp;&nbsp;para pedir un tamaño personalizado</li>
        </ul>
      </div>
    </div>
  </div>

  <!--Taza-->
  <div class="col s3">
    <div id="fondogen" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img id="taza" class="activator" src="./assets/TazaNegra.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <p id="whtext">Taza Next Level</p><i id="fondorev" class="material-icons right">more_vert</i>
        </span>

        <p id="fondorev"><a href="#">Comprala ya!</a></p>

        <p id="fondorev">Colores disponibles:&nbsp;&nbsp;
          <a (click)="tazablack()" id="black" class="btn-floating btn-large waves-effect waves-light red"><i id="black"
              class="material-icons">add</i></a>&nbsp;&nbsp;
          <a (click)="tazawhite()" id="white" class="btn-floating btn-large waves-effect waves-light red"><i id="white"
              class="material-icons">add</i></a>
        </p>
      </div>
      <div id="fondorev" class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <p id="whtext">Taza Next Level</p><i id="fondorev" class="material-icons right">close</i>
        </span>
        <p id="whtext">Con esta taza tus bebidas llegarán al siguiente nivel!</p>
        <ul id="whtext">
          <p id="whtext">Colores disponibles:</p>
          <li id="whtext">&nbsp;&nbsp;• Negro</li>
          <li id="whtext">&nbsp;&nbsp;• Blanca</li>
        </ul>
      </div>
    </div>
  </div>
</div>