#border {
    border: 3px solid white;
    padding: 1px;
    padding-top: -5px;
    border-radius: 15px;
    margin: 3px;
}

#fondogen {
    background-color: #ffffff;
}

#fondorev {
    background-color: #ffffff;
}

#whtext {
    color: black;
    background-color: #ffffff;
}

div.card-content {
    background-color: #ffffff;
}

i.material.icons.right {
    background-color: white;
}

/* Colores de los botones */

#white {
    background-color: white;
    color: white;
    width: 20px;
    height: 20px;
    transition: ease-in-out .3s;
}

#black {
    background-color: black;
    color: black;
    width: 20px;
    height: 20px;
    transition: ease-in-out .3s;
}

#black:hover {
    transform: scale(1.2);
}

#white:hover {
    transform: scale(1.2);
}

#segundo {
    margin-top: -10px;
}


#merch {
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
}

#enlacestel {
    background-color: white;
    color: black;
    font-style: oblique;
    transition: ease-in-out .5s;
}

#enlacestel:hover {
    color: blue;
    text-decoration: underline;
}

#flecha {
    width: 3%;
    height: auto;
    transition: ease-in-out .3s;

}

#flecha:hover {
    transform: scale(1.5);
}

html {
    scroll-behavior: smooth;
  }